*,*::before,*::after{
    box-sizing: border-box;
}

body{
    background-image: url(wooden_background.jpeg);
    /* This removes the tiling of the background image  */
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.piano{
    /* This makes the divs inside piano div to be displayed side by side instead 
    of top to bottom */
    display: flex;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.9));
}

.key{
    /* using css variables  */
    height : calc(var(--width) * 5);
    width: var(--width);
}

.white{
    background-color: white;
    --width: 80px;
    border: 1px solid black;
}


.black.active{
    background-color: #2F4F4F;
}


.white.active{
    background-color: #E1D9D1;
}

.black{
    background-color: black;
    --width: 40px;
    /* The following 3 lines make the black keys appear on top of the 
    white ones */
    margin-left: calc(var(--width)/(-2));
    margin-right: calc(var(--width)/(-2));
    z-index: 2;
}